name: Python

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  call-ci:
    uses: qntx/workflows/.github/workflows/python.yml@main
    with:
      python-version: '3.13'